RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
Redirect permanent index.html https://drlewin.github.io
Redirect permanent https://drlewin.github.io/index https://drlewin.github.io
Redirect permanent https://drlewin.github.io/index.html https://drlewin.github.io