RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteBase /
RewriteCond %{THE_REQUEST} ^GET.*index\.html [NC]
RewriteRule (.*?)index\.html/*(.*) /$1$2 [R=301,NE,L]